body{
    background-color: white; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    font-size: 29px;
    color: #1E9585;
    margin: 100px 50px 5px 30px;
}
#subtitulo{
    font-size: 13px;
    color: darkgray;
}